@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "三模照片";
}
<!DOCTYPE html>
<html>
<head>
    <title>三模照片</title>
</head>
<body>
    <div>
       
    </div>

    <h1>三模 照片</h1>

    <div>
        <img src="https://cdn.hwweb.i234.me/image/3模.jpg" style="width: 50%;" />
    </div>
</body>
</html>
