@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "連結";
}
<!DOCTYPE html>
<html>
    <head>
        <title>連結</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/testconnectcenter.aw.net.styles.css" asp-append-version="true" />
    </head>
    <body>
    <h1>連結</h1>
    <h3>學習</h3>
    <div>
        <div>
            <div>
                <p><a class="text-dark" href="https://cap.rcpet.edu.tw/">國中教育會考</a></p>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <p><a class="text-dark" href="https://hwsite.azurewebsites.net/imports/testcountdown">原站</a></p>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <p><a class="text-dark" href="https://duolingo.com">語言</a></p>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <p><a class="text-dark" href="https://geoguessr.com">猜位址</a></p>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <p><a class="text-dark" href="https://azure.microsoft.com">Azure</a></p>
            </div>
        </div>
    </div>
    <h3>AI的東西</h3>
    <div>
        <div>
            <div>
                <p><a class="text-dark" href="https://chat.openai.com">ChatGPT</a></p>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <p><a class="text-dark" href="https://bard.google.com">Google Bard</a></p>
            </div>
        </div>
    </div>
    <h3>擁有者:</h3>
        <div>
            <div>
                <div>
                <p>YouTube: <a class="text-dark" href="https://youtube.com/channel/UCSCoWCuXy8Kpq1i121HDMoQ">yhau_</a></p>
                </div>
             </div>
        </div>
        <div>
            <div>
                <div>
                <p>Instagram: <a class="text-dark" href="https://instagram.com/yh_.5_26">yh_.5_26</a></p>
                </div>
            </div>
        </div>
                
        
    </body>
</html>