@page
@model testconnectcenter.Pages.redirectModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirect Page</title>
    <link href="/ifavicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
    <script>
        const urlParam = new URLSearchParams(window.location.search).get('c');
        const tokenURL = new URLSearchParams(window.location.search).get('token');
        const systemRedirect = new URLSearchParams(window.location.search).get('system_redirect');
        let tokenAuth = atob("Z280MGRqcWljbzN3b2QyaW9kMQ==");
        let tokenAuthCheck1 = atob(tokenURL);
        let ks = '';
        let tokenAuthCheck2 = "1";
        let tokenAuthCheck = tokenAuthCheck1 + tokenAuthCheck2 + ks;

        // Redirect to the specified URL
        if (tokenAuthCheck === tokenAuth) {
            if (systemRedirect === '1') {
                if (urlParam) {
                    window.location.href = urlParam;
                } else {
                    document.body.innerHTML = '<p>Error. No URL specified in the query string. (ISSUE=0x670)</p>';
                }
            } else {
                document.body.innerHTML = '<p>Error. No URL specified in the query string. (ISSUE=0x262)</p>';
            }
        } else {
            document.body.innerHTML = '<p>Error. No requested key code. (ISSUE=0x836)</p>';
        }
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G01QDCCH6J"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-G01QDCCH6J');
    </script>
</body>
</html>